cmake_minimum_required(VERSION 2.8 FATAL_ERROR)
project(project_name)
find_package(qibuild)

option(PROJECT_NAME_IS_REMOTE
  "module is compiled as a remote module (ON or OFF)"
  ON)


set(_srcs
  main.cpp
add_module_files
)

if(PROJECT_NAME_IS_REMOTE)
  add_definitions(" -D PROJECT_NAME_IS_REMOTE ")
  qi_create_bin(project_name ${_srcs})
else()
  qi_create_lib(project_name SHARED ${_srcs} SUBFOLDER naoqi)
endif()

qi_use_lib(project_name ALCOMMON)
