""" This is a simple python script
    showing you how to call the methods or your module
    from Python

"""

import sys
from naoqi import ALProxy

IP = "127.0.0.1"
PORT = 9559

try:
  Module_Name_Proxy = ALProxy("Module_Name",IP,PORT)
except Exception,e:
  print "Could not create proxy to Module_Name_Proxy"
  print "Error was: ", e
  sys.exit(1)


# First, send a simple string

# Call the 'echo' function from Module_Name:
try:
  ret = Module_Name_Proxy.echo("Hello, world!")
except Exception,e:
  print "Could not call 'echo' method from Module_Name"
  print "Error was: ", e
  sys.exit(1)

print "echo returns: ", ret


# More complex types can also be used:

ret = Module_Name_Proxy.echo([42, "foo"])

print "echo returns: ", ret


